@model HomeRoomSection
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Room Details Section Begin -->
<section class="gallery-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-1.jpg">
                    <img style="width: 100%; height:100%;" src="~/img/room/@Model.HomeImageRoomSections.ElementAt(0).Image" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-3.jpg">
                            <img style="width: 100%; height:100%;" src="~/img/room/@Model.HomeImageRoomSections.ElementAt(1).Image" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="gallery-item set-bg" data-setbg="img/gallery/gallery-4.jpg">
                            <img style="width: 100%; height:100%;" src="~/img/room/@Model.HomeImageRoomSections.ElementAt(2).Image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-item large-item set-bg" data-setbg="img/gallery/gallery-2.jpg">
                    <img style="width: 100%; height:100%;" src="~/img/room/@Model.HomeImageRoomSections.ElementAt(3).Image" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    @*<img src="~/img/room/room-details.jpg" alt="">*@
                    <div class="rd-text">
                        <div class="rd-title">
                            @*<h3>@Model.Title</h3>*@
                        </div>
                        <h2>@Model.Cost$<span>/Pernight</span></h2>
                        <p class="f-para">
                            @Model.Service
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room Details Section End -->