@model HeroImgSection

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Photo"></label>
        <input asp-for="Photo" accept="image/*" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-success btn-lg btn-block" value="Create" />
    <a asp-action="Index" class="btn btn-primary btn-block btn-lg" style="margin: 30px 0">
        <i class="fas fa-long arrow-alt-left"></i> Back to Index
    </a>
</form>
